<!-- Reset Password form -->
<div class="container  py-5 mt-5">
    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            <div class="card">
                <!-- {{resetPasswordForm.value | json}} -->
                <div class="card-body">
                    <form [formGroup]="resetPasswordForm">
                        <div class="form-group">
                            <label>Username</label>
                            <input [class.is-invalid]="UserName.invalid &&
                            UserName.touched" type="text" formControlName="UserName" class="form-control">
                            <div *ngIf="UserName.invalid &&
                            UserName.touched">
                                <small *ngIf="UserName.errors?.required" class="text-danger">
                                    Username is required
                                </small>
                                
                            </div>
                        </div>

                        <label>Password</label>
                        <div class="input-group ">

                            <input [class.is-invalid]="Password.invalid &&
                            Password.touched" type="password" [type]="hide1 ? 'password': 'text'"
                                aria-describedby="inputGroupPrepend" formControlName="Password" class="form-control">
                            <div class="input-group-append">
                                <button type="button" class="btn input-group-text rounded-right "
                                    [class.d-none]="!hide1" id="basic-addon1" (click)="CurrentPasswordToggle()"><i
                                        class="fa fa-eye" aria-hidden="true"></i></button>
                                <button type="button" class="btn input-group-text" [class.d-none]="hide1"
                                    id="basic-addon2" (click)="CurrentPasswordToggle()"><i class="fa fa-eye-slash"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div *ngIf="Password.invalid &&
                        Password.touched">
                            <small *ngIf="Password.errors?.required" class="text-danger">
                                Password is required
                            </small>
                            <small *ngIf="Password.hasError('passwordStrength')" class="text-danger">
                                passowrd should be strong
                            </small>
                        </div>


                        <label>ConfirmPassword</label>
                        <div class="input-group">
                            <input type="password"
                                [class.is-invalid]="ConfirmPassword.invalid && ConfirmPassword.touched"
                                formControlName="ConfirmPassword" [type]="hide2 ? 'password': 'text'"
                                class="form-control">
                            <div class="input-group-append">
                                <button type="button" class="btn input-group-text rounded-right "
                                    [class.d-none]="!hide2" id="basic-addon3" (click)="NewPasswordToggle()"><i
                                        class="fa fa-eye" aria-hidden="true"></i></button>
                                <button type="button" class="btn input-group-text" [class.d-none]="hide2"
                                    id="basic-addon4" (click)="NewPasswordToggle()"><i class="fa fa-eye-slash"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div *ngIf="ConfirmPassword.invalid &&
                        ConfirmPassword.touched">
                            <small *ngIf="ConfirmPassword.errors?.required" class="text-danger">
                                Confirm Password is required
                            </small>
                            <small *ngIf="ConfirmPassword.hasError('passwordStrength')" class="text-danger">
                                passowrd should be strong
                            </small>
                        </div>

                        
                        <div class="form-group">
                            
                            <input type="hidden" 
                                formControlName="Token" class="form-control" >
                           
                        </div>
                        <!-- {{urlParams.token}} -->
                        <button class="btn btn-primary btn-block mt-5" [disabled]="resetPasswordForm.invalid"
                            type="submit" (click)="resetPassword()">
                            Change Password
                        </button><br>
                        <button type="button" class="btn btn-block border-none bg-light text-primary my-2" (click)="navigateTologin()" >
                            Cancle
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>