

<!-- Forget Passsword form -->
<div class="container mt-5 pt-5">
    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            <div class="card">
            <div class="card-header">
                <h2>Forget Password</h2>
            </div>

            
            <div class="card-body">
            <form [formGroup]="form" >
                <div class="form-group">
                    <label>Username</label>
                    <input [class.is-invalid]="userName.invalid &&
                     userName.touched" type="text" formControlName="UserName" class="form-control">
                    <div *ngIf="userName.invalid &&
                                 userName.touched">
                        <small *ngIf="userName.errors?.required" class="text-danger">
                            Username is required
                        </small>
                        
                    </div>
                </div>
                <a routerLink="/login" class="float-right nav-link">Login Page</a>
                <button class="btn btn-primary btn-block" [disabled]="form.invalid" type="submit" (click)="Submit()" >
                    Send Email
                </button><br>
                
            </form>
            </div>
        </div>
          </div>
    </div>
</div>
<!-- {{form.value | json}} -->
